/* CSS Document */


body{
	background-color: #fff;
	/* height: 0; 
	padding-bottom::100%; */
	
	font-family: "微軟正黑體";
	font-size: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.rzImg {
	width: 100%;
}
